matplotlib>=3.2.2
numpy~=1.19.5 # relevant for InnovizAPI
open3d~=0.15.1
pptk~=0.1.0
scikit-learn~=0.24.2
scipy~=1.5.4
setuptools~=58.0.4
pybind11 # relevant for InnovizAPI
opencv-python==4.6.0.66
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0
tensorboard>=2.4.1
pandas>=1.1.4
seaborn>=0.11.0
thop  # FLOPs computation
